/* ================== RESET & BODY ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #fff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================== CONTAINER ================== */
.container {
  background: #fff;
  padding: 50px 25px;
  border-radius: 25px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  text-align: center;
  transition: all 0.3s ease;
}

/* ================== LOGO ================== */
.logo {
  width: 100px;
  max-width: 50%;
  margin-bottom: 20px;
}

/* ================== TEXT ================== */
h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 5px;
}

.brand {
  font-size: 28px;
  color: #051ef7; /* tím */
  margin-bottom: 20px;
  font-weight: bold;
}

/* ================== BUTTONS ================== */
.btn {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

/* Login chính */
.login {
  background: #0330f8;
  color: #fff;
}
.login:hover {
  background: #0336c4;
}

/* Signup phụ */
.signup {
  background: #0688f3;
  color: #fff;
  border: 2px solid #0688f3;
}
.signup:hover {
  background: #3a04ff;
}

/* ================== OR ================== */
.or {
  margin: 20px 0 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
}

/* ================== SOCIAL BUTTONS ================== */
.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social {
  flex: 1;
  margin: 0 5px;
  padding: 12px 0;
  border-radius: 30px;
  border: 2px solid #e3e3e3;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.social img {
  width: 20px;
  height: 20px;
}

.social.google:hover { border-color:#4285F4; }
.social.apple:hover { border-color:#000; }
.social.facebook:hover { border-color:#1877F2; }

/* ================== TERMS ================== */
.terms {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.terms-bold {
  font-size: 14px;
  font-weight: bold;
  color: #0747f7;
}

/* ================== RESPONSIVE ================== */
@media (max-width: 480px) {
  .container { padding: 20px 15px; }
  .brand { font-size: 24px; }
  .btn { font-size: 14px; padding: 10px; }
}
